*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    border: 2px solid red;
    height: 600px;

    display: grid;
    /* grid-template-columns: 200px 250px 100px; */

    /* repeat recibe una cantidad y un tamaño */
    /* 1fr repetir una fracción, no se descuadra porque usa el espacio disponible */
    /* grid-template-columns: repeat(3,1fr); */

    /* minmax(tamaño mínimo, tamaño máximo)  */
    grid-template-columns: repeat(3,minmax(180px,250px));
    /* grid-template-rows: 120px 180px 240px; */
    
    grid-template-rows: [inicio] 120px [medio1] 180px [medio2] 240px [final];
    gap: 10px;
}

.item{
    border: 2px solid lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-of-type(1){
    /* es en base a la grilla */
    /* grid-column: lineaInicio/lineaFinal; */
    /* grid-column:1/3;
    grid-row: 1/3; */

    /* grid-column: span 2;
    grid-row: span 3; */

    grid-row: inicio/medio2;

    border: 3px solid blueviolet;
}

/* .item:nth-of-type(5){
    grid-column: span 2;
} */